* {
    box-sizing: border-box;
}

.wrapper {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: minmax(80px, auto) 1fr minmax(150px, auto);
    grid-template-areas:
        "header header"
        "main article"
        "footer footer";
    height: 100vh;
}

.header {
    grid-area: header;
    background-color: #6290aa;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    grid-area: main;
    background-color: rgb(70, 70, 172);
    display: grid;
    grid-template: 1fr 1fr 1fr / 1fr 1fr;
}

.main__text {
    grid-area: 1/1/2/3;
    text-align: center;
}

.section {
    display: grid;
    justify-items: center;
    align-items: center;
    margin: 15px;
    background-color: yellow;
}

.section_3 {
    grid-area: 3/1/4/3;
}

.article {
    grid-area: article;
    background-color: rgb(35, 35, 97);
}

.footer {
    grid-area: footer;
    background-color: rgb(43, 101, 226);
}